@if (placeholder !== undefined) {
    @if (optionValue) {
        <p-multiSelect
            [inputId]="uniqueId"
            [options]="items"

            [ngModel]="internalValue"
            (ngModelChange)="onValueChange($event)"
            (onBlur)="onTouched()"

            [optionLabel]="optionLabel"
            [optionValue]="optionValue"
            [loading]="loading"

            [disabled]="isDisabled || disable"

            [showClear]="showClear"
            [filter]="filter"
            [appendTo]="appendTo"
            [placeholder]="placeholder"
            [styleClass]="styleClass"
            [style]="style ?? {}"
            [display]="display"
            [maxSelectedLabels]="maxSelectedLabels"
            [selectionLimit]="selectionLimit"

            [ngClass]="{ 'ng-invalid ng-dirty': submitted && required && isEmpty }"
        >
        </p-multiSelect>
    } @else {
        <p-multiSelect
            [inputId]="uniqueId"
            [options]="items"

            [ngModel]="internalValue"
            (ngModelChange)="onValueChange($event)"
            (onBlur)="onTouched()"

            [optionLabel]="optionLabel"
            [loading]="loading"

            [disabled]="isDisabled || disable"

            [showClear]="showClear"
            [filter]="filter"
            [appendTo]="appendTo"
            [placeholder]="placeholder"
            [styleClass]="styleClass"
            [style]="style ?? {}"
            [display]="display"
            [maxSelectedLabels]="maxSelectedLabels"
            [selectionLimit]="selectionLimit"

            [ngClass]="{ 'ng-invalid ng-dirty': submitted && required && isEmpty }"
        >
        </p-multiSelect>
    }
} @else {
    <div class="mb-4">
        <p-floatlabel>
            @if (optionValue) {
                <p-multiSelect
                    [inputId]="uniqueId"
                    [options]="items"

                    [ngModel]="internalValue"
                    (ngModelChange)="onValueChange($event)"
                    (onBlur)="onTouched()"

                    [optionLabel]="optionLabel"
                    [optionValue]="optionValue"
                    [loading]="loading"

                    [disabled]="isDisabled || disable"

                    [showClear]="showClear"
                    [filter]="filter"
                    [appendTo]="appendTo"
                    [styleClass]="styleClass"
                    [style]="style ?? { width: '100%' }"
                    [required]="required"
                    [display]="display"
                    [maxSelectedLabels]="maxSelectedLabels"
                    [selectionLimit]="selectionLimit"

                    [ngClass]="{ 'ng-invalid ng-dirty': submitted && required && isEmpty }"
                >
                </p-multiSelect>
            } @else {
                <p-multiSelect
                    [inputId]="uniqueId"
                    [options]="items"

                    [ngModel]="internalValue"
                    (ngModelChange)="onValueChange($event)"
                    (onBlur)="onTouched()"

                    [optionLabel]="optionLabel"
                    [loading]="loading"

                    [disabled]="isDisabled || disable"

                    [showClear]="showClear"
                    [filter]="filter"
                    [appendTo]="appendTo"
                    [styleClass]="styleClass"
                    [style]="style ?? { width: '100%' }"
                    [required]="required"
                    [display]="display"
                    [maxSelectedLabels]="maxSelectedLabels"
                    [selectionLimit]="selectionLimit"

                    [ngClass]="{ 'ng-invalid ng-dirty': submitted && required && isEmpty }"
                >
                </p-multiSelect>
            }

            <label [for]="uniqueId">{{ label }}</label>
        </p-floatlabel>

        @if (submitted && required && isEmpty) {
            <p-message class="mt-2" severity="error" variant="simple" size="small">{{ errorMessage }}</p-message>
        }
    </div>
}
