<div class="card">
    <div class="font-semibold text-xl mb-4">Пользователи</div>
    <p-table
        #ut
        [value]="users"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        [showGridlines]="true"
        [paginator]="true"
        [globalFilterFields]="['name', 'role']"
    >
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <p-iconfield>
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(ut, $event)" placeholder="Поиск" />
                </p-iconfield>
                <button pButton class="p-button-outlined">
                    <i class="pi pi-user-plus" pButtonIcon></i>
                    <span pButtonLabel>Новый пользователь</span>
                </button>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Имя
                        <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Роли
                        <p-columnFilter type="text" field="role" display="menu" placeholder="Search by role"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td>
                    {{ user.name }}
                </td>
                <td>
                    <div class="flex flex-row space-x-1">
                        @for (role of user.roles; track role) {
                            <p-chip [label]="role" class="m-1"></p-chip>
                        }
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">Ничего не найдено</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="8">Идет загрузка. Ожидайте...</td>
            </tr>
        </ng-template>
    </p-table>
</div>
