<div class="card">
    <div class="font-semibold text-xl mb-4">Пользователи</div>
    <p-table
        [value]="users"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        [showGridlines]="true"
        [paginator]="true"
    >
        <ng-template #header>
            <tr>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Имя
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Роли
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td>
                    {{ user.name }}
                </td>
                <td>
                    <div class="flex flex-row space-x-1">
                        @for (role of user.roles; track role) {
                            <span>{{role}}</span>
                        }
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
