<div class="card">
    <div class="font-semibold text-xl mb-4">Холостой водосброс</div>
    <p-table
        [value]="dischargeByCascades"
        dataKey="id"
        stripedRows
        [loading]="loading"
        [scrollable]="true"
        [rowHover]="false"
        rowGroupMode="subheader"
        groupRowsBy="name"
        sortField="name"
        sortMode="single"
        scrollHeight="60vh"
        [tableStyle]="{ 'min-width': '40rem' }"
    >
        <ng-template #caption>
            @if (authService.isSc()) {
                <button pButton (click)="openDialog()">
                    <i pButtonIcon class="pi pi-plus"></i>
                    <span pButtonLabel>Добавить</span>
                </button>
            }
            <div class="flex table-header"></div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Название
                </th>
                <th>Сброс, млн. м³
                </th>
            </tr>
        </ng-template>
        <ng-template #groupheader let-cascade>
            <tr pRowGroupHeader>
                <td class="font-bold text-lg">{{ cascade.name }}</td>
                <td class="font-bold text-lg">{{ cascade.total_volume }}</td>
            </tr>
        </ng-template>
        <ng-template #body let-cascade>
            <tr>
                <td colspan="2">
                    <p-table
                        [value]="cascade.hpps"
                        dataKey="id"
                        stripedRows
                        [loading]="loading"
                        [scrollable]="false"
                        [rowHover]="false"
                        rowGroupMode="subheader"
                        groupRowsBy="name"
                        sortField="name"
                        sortMode="single"
                    >
                        <ng-template #body let-hpp>
                            <tr>
                                <td class="font-bold">{{ hpp.name }}</td>
                                <td class="font-bold">{{ hpp.total_volume }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p-table
                                        [value]="hpp.discharges"
                                        dataKey="id"
                                        stripedRows
                                        [loading]="loading"
                                        [scrollable]="false"
                                        [rowHover]="true"
                                        rowGroupMode="subheader"
                                        groupRowsBy="started_at"
                                        sortField="started_at"
                                        sortMode="single"
                                    >
                                        <ng-template #header>
                                            <tr>
                                                <th>
                                                    Начало
                                                </th>
                                                <th>
                                                    Сброс, м³/с
                                                </th>
                                                <th>
                                                    Прекращено
                                                </th>
                                                <th>
                                                    Общий объём, млн. м³
                                                </th>
                                                <th>
                                                    Причина
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template #body let-discharge>
                                            <tr>
                                                <td>{{ discharge.started_at | date:'dd.MM.yyyy HH:mm' }}</td>
                                                <td>{{ discharge.flow_rate }}</td>
                                                <td>{{ discharge.ended_at | date:'dd.MM.yyyy HH:mm' }}</td>
                                                <td>{{ discharge.total_volume }}</td>
                                                <td>{{ discharge.reason }}</td>
                                            </tr>


                                        </ng-template>
                                    </p-table>
                                </td>
                            </tr>

                        </ng-template>
                    </p-table>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Новая запись, водосброс" [(visible)]="displayDialog" [breakpoints]="{ '960px': '75vw' }"
          [style]="{ width: '30vw' }" [modal]="true" (onHide)="closeDialog()">
    <form [formGroup]="waterDischargeForm">

        <p-floatlabel class="w-full my-4" variant="on">
            <p-select [options]="organizations"
                      formControlName="organization"
                      inputId="organization"
                      optionLabel="name"
                      [showClear]="true"
                      [invalid]="submitted && waterDischargeForm.controls['organization'].invalid"
                      [filter]="true"
                      [group]="true"
                      [appendTo]="'body'"
                      class="w-full">
                <ng-template let-group #group>
                    <div class="flex items-center">
                        <span>{{ group.name }}</span>
                    </div>
                </ng-template>
            </p-select>
            <label for="organization">Выберите объект</label>
        </p-floatlabel>

        @if (submitted && waterDischargeForm.controls['organization'].errors?.['required']) {
            <p-message severity="error" variant="simple" size="small">Необходимо выбрать объект.</p-message>
        }

        <div class="grid xl:grid-cols-2 xl:gap-4">
            <div>
                <p-floatlabel class="w-full my-4" variant="on">
                    <p-date-picker class="w-full"
                                   inputId="started_at"
                                   formControlName="started_at"
                                   dateFormat="dd.mm.yy"
                                   [showClear]="true"
                                   [invalid]="submitted && waterDischargeForm.controls['started_at'].invalid"
                                   [appendTo]="'body'"
                                   [showTime]="true"
                                   [hourFormat]="'24'"
                                   [maxDate]="maxDate" />
                    <label for="started_at">Начало сброса</label>
                </p-floatlabel>

                @if (submitted && waterDischargeForm.controls['started_at'].errors?.['required']) {
                    <p-message severity="error" variant="simple" size="small">Укажите начало сброса.</p-message>
                }
            </div>

            <div>
                <p-floatlabel class="w-full my-4" variant="on">
                    <p-date-picker class="w-full"
                                   inputId="ended_at"
                                   formControlName="ended_at"
                                   dateFormat="dd.mm.yy"
                                   [showClear]="true"
                                   [appendTo]="'body'"
                                   [showTime]="true"
                                   [hourFormat]="'24'"
                                   [maxDate]="maxDate" />
                    <label for="ended_at">Конец сброса</label>
                </p-floatlabel>
            </div>
        </div>
        @if (submitted && waterDischargeForm.errors?.['endDateBeforeStart']) {
            <p-message severity="error" variant="simple" size="small" class="block -mt-2 mb-3">
                Конечная дата не может быть раньше начальной
            </p-message>
        }

        <p-floatlabel class="w-full my-4" variant="on">
            <p-input-number class="w-full"
                            inputId="flow_rate"
                            [invalid]="submitted && waterDischargeForm.controls['flow_rate'].invalid"
                            formControlName="flow_rate" />
            <label for="flow_rate">Поток, м³/с</label>
        </p-floatlabel>

        @if (submitted && waterDischargeForm.controls['flow_rate'].errors?.['required']) {
            <p-message severity="error" variant="simple" size="small">Укажите поток.</p-message>
        }
        @if (submitted && waterDischargeForm.controls['flow_rate'].errors?.['min']) {
            <p-message severity="error" variant="simple" size="small">Поток не может быть отрицательным.</p-message>
        }

        <p-floatlabel class="w-full my-4" variant="on">
        <textarea pInputTextarea
                  id="reason"
                  formControlName="reason"
                  class="w-full"
                  [autoResize]="true"
                  rows="3"></textarea>
            <label for="reason">Причина (обоснование)</label>
        </p-floatlabel>

    </form>
    <ng-template #footer>
        <p-button label="Отмена" (click)="closeDialog()" styleClass="p-button-text" />
        <p-button label="Сохранить" type="submit" (click)="onSubmit()" />
    </ng-template>
</p-dialog>
