<div class="card">
    <h3 class="text-center mb-3">Сводка по водохранилищам (PDF)</h3>

    <form [formGroup]="form" class="mb-4">
        <div class="flex justify-between items-baseline gap-4">
            <div class="w-full md:w-1/4">
                <app-date-picker
                    label="Выберите дату"
                    formControlName="date"
                    [showTime]="false"
                    errorMessage="Укажите дату">
                </app-date-picker>
            </div>
        </div>
    </form>

    <div class="pdf-container">
        <app-pdf-viewer
            [blob]="pdfBlob"
            [fileName]="fileName"
            viewerId="reservoir-pdf-viewer">
        </app-pdf-viewer>
    </div>
</div>
