<div class="card">
    <ng-template #caption >
        <div class="font-semibold text-xl mb-4">Аварийные отключение</div>
    </ng-template>
    <app-date [(date)]="selectedDate"></app-date>

    <div class="mb-8">
        <app-incident [date]="selectedDate" (incidentSaved)="onIncidentSaved()"></app-incident>
    </div>

    <div class="mb-8">
        <app-ges-shutdown [date]="selectedDate" (shutdownSaved)="onShutdownSaved()"></app-ges-shutdown>
    </div>

    <div class="mb-8">
        <app-reservoir-device></app-reservoir-device>
    </div>

    <div class="mb-8">
        <app-shutdown-discharge [date]="selectedDate"></app-shutdown-discharge>
    </div>

    <div class="mb-8">
        <app-visit [date]="selectedDate"></app-visit>
    </div>

</div>
