<div class="card mb-8!">
    <div class="flex items-center justify-between mb-6">
        <div class="font-semibold text-xl">События</div>
    </div>

    <div class="overflow-y-auto" style="height: 20rem">
        @if (loading) {
            <div class="flex items-center justify-center h-full">
                <i class="pi pi-spin pi-spinner text-4xl"></i>
            </div>
        } @else {
            @for (dateGroup of eventsByDate | keyvalue; track dateGroup.key) {
                <span
                    class="block text-muted-color font-medium mb-4 sticky top-0 bg-surface-0 dark:bg-surface-900 py-2 z-10">{{ dateGroup.key | date:'dd.MM' }}</span>
                <ul class="p-0 m-0 list-none mb-6">
                    @for (event of dateGroup.value; track event.date) {
                        <li class="flex items-start py-2 pr-2.5 border-b border-surface">
                            <div class="w-12 h-12 flex items-center justify-center rounded-full mr-4 shrink-0"
                                 [ngClass]="getEventColorClass(event.type)">
                                <i class="pi text-xl!"
                                   [ngClass]="[getEventIcon(event.type), getEventIconColor(event.type)]"></i>
                            </div>
                            <div class="flex-1">
                                <div class="text-surface-900 dark:text-surface-0 leading-normal">
                                    {{ event.date | date:'HH:mm' }}
                                    @if (event.organization_name) {
                                        {{ event.organization_name }}
                                    }
                                </div>
                                <div class="text-muted-color"
                                     [ngClass]="{'line-clamp-2': !isEventExpanded(event.date) && shouldShowExpandButton(event.description)}">
                                    {{ event.description }}
                                </div>
                            </div>
                            @if (shouldShowExpandButton(event.description)) {
                                <button pButton
                                        type="button"
                                        [icon]="isEventExpanded(event.date) ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
                                        class="p-button-text p-button-rounded p-button-sm ml-2"
                                        (click)="toggleEventExpansion(event.date)">
                                </button>
                            }
                        </li>
                    }
                </ul>
            } @empty {
                <div class="flex items-center justify-center h-full text-muted-color">
                    Нет событий
                </div>
            }
        }
    </div>
</div>
