<div class="card h-full">
    <div class="flex items-center justify-between mb-6">
        <div class="font-semibold text-xl">События</div>
        <button pButton outlined (click)="expandAll()">
            <i pButtonIcon class="pi pi-fw text-sm"
               [ngClass]="{ 'pi-window-minimize': expanded, 'pi-window-maximize': !expanded }"></i>
        </button>
    </div>

    <div class="overflow-y-auto" style="height: 20rem">
        @if (loading) {
            <div class="flex items-center justify-center h-full">
                <i class="pi pi-spin pi-spinner text-4xl"></i>
            </div>
        } @else {
            @for (dateGroup of eventsByDate; track $index) {
                <span
                    class="block text-muted-color font-medium mb-4 sticky top-0 bg-surface-0 dark:bg-surface-900 py-2 z-10">{{ dateGroup.date | date:'dd.MM' }}</span>
                <ul class="p-0 m-0 list-none mb-6">
                    @for (event of dateGroup.events; track $index) {
                        <li class="flex flex-col py-2 pr-2.5 border-b border-surface"
                            (click)="toggleEventExpansion(getEventKey(event))">
                            <div class="flex items-start">
                                <div class="w-12 h-12 flex items-center justify-center rounded-full mr-4 shrink-0"
                                     [ngClass]="getEventColorClass(event.type)">
                                    <i class="pi text-xl!"
                                       [ngClass]="[getEventIcon(event.type, event), getEventIconColor(event.type), getEntityIconRotation(event.entity_type)]"></i>
                                </div>
                                <div class="flex-1">
                                    <div class="text-surface-900 dark:text-surface-0 leading-normal">
                                        {{ event.date | date:'HH:mm' }}
                                        @if (event.organization_name) {
                                            {{ event.organization_name }}
                                        }
                                    </div>
                                    <div class="text-muted-color"
                                         [ngClass]="{'line-clamp-2': !isEventExpanded(getEventKey(event)) && shouldShowExpandButton(event)}">
                                        {{ event.description }}
                                    </div>
                                </div>
                                @if (shouldShowExpandButton(event)) {
                                    <button pButton
                                            type="button"
                                            [icon]="isEventExpanded(getEventKey(event)) ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"
                                            class="p-button-text p-button-rounded p-button-sm ml-2"
                                            (click)="toggleEventExpansion(getEventKey(event))">
                                    </button>
                                }
                            </div>
                            @if (isEventExpanded(getEventKey(event)) && hasMediaFiles(event)) {
                                <div class="mt-4 flex flex-col gap-2 w-full">
                                    @for (file of getMediaFiles(event); track file.id; let i = $index) {
                                        @if (isImageFile(file.file_name)) {
                                            <img [src]="file.url" [alt]="file.file_name"
                                                 (click)="openImageViewer(event, i)"
                                                 class="w-full rounded-border object-contain cursor-pointer hover:opacity-90 transition-opacity" />
                                        }
                                        <!--                                        @else if (isVideoFile(file.file_name)) {-->
                                            <!--                                            <video [src]="getFileUrl(file)" controls-->
                                            <!--                                                   class="w-full rounded-border max-h-96">-->
                                            <!--                                            </video>-->
                                            <!--                                        }-->
                                    }
                                </div>
                            }
                        </li>
                    }
                </ul>
            } @empty {
                <div class="flex items-center justify-center h-full text-muted-color">
                    Нет событий
                </div>
            }
        }
    </div>
</div>

@if (imageViewerVisible) {
    <app-dialog [(visible)]="imageViewerVisible" [header]="imageViewerHeader" [width]="'90vw'">
        <div class="flex items-center justify-center bg-surface-50 dark:bg-surface-900">
            <img [src]="selectedImageUrl" [alt]="imageViewerHeader"
                 class="max-w-full max-h-[80vh] object-fill" />
        </div>
    </app-dialog>
}
