<div class="card">
    <p-table
        #rt
        [value]="receptions()"
        dataKey="id"
        [rows]="10"
        [loading]="loading()"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [showCurrentPageReport]="true"
        [currentPageReportTemplate]="'PLANNING.COMMON.PAGE_REPORT' | translate"
        [globalFilterFields]="['name', 'visitor', 'description', 'status']"
        [rowHover]="true"
        [showGridlines]="true"
        class="p-datatable-sm"
    >
        <ng-template #caption>
            <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                <span class="text-xl text-900 font-bold">{{ 'PLANNING.RECEPTION.TITLE' | translate }}</span>
                <div class="flex gap-2">
                    <p-iconfield iconPosition="left">
                        <p-inputicon class="pi pi-search" />
                        <input
                            pInputText
                            type="text"
                            (input)="onGlobalFilter(rt, $event)"
                            [placeholder]="'PLANNING.COMMON.SEARCH' | translate"
                            class="w-full"
                        />
                    </p-iconfield>
                    <p-button
                        [label]="'PLANNING.COMMON.ADD' | translate"
                        icon="pi pi-plus"
                        (onClick)="openNew()"
                        severity="success"
                    />
                </div>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th pSortableColumn="name" style="min-width: 12rem">
                    {{ 'PLANNING.COMMON.NAME' | translate }}
                    <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="date" style="min-width: 10rem">
                    {{ 'PLANNING.COMMON.DATE' | translate }}
                    <p-sortIcon field="date" />
                </th>
                <th pSortableColumn="visitor" style="min-width: 12rem">
                    {{ 'PLANNING.RECEPTION.VISITOR' | translate }}
                    <p-sortIcon field="visitor" />
                </th>
                <th pSortableColumn="description" style="min-width: 15rem">
                    {{ 'PLANNING.COMMON.DESCRIPTION' | translate }}
                </th>
                <th pSortableColumn="status" style="min-width: 10rem">
                    {{ 'PLANNING.COMMON.STATUS' | translate }}
                    <p-sortIcon field="status" />
                </th>
                <th style="min-width: 10rem">{{ 'PLANNING.COMMON.ACTIONS' | translate }}</th>
            </tr>
        </ng-template>

        <ng-template #body let-reception>
            <tr>
                <td>{{ reception.name }}</td>
                <td>{{ reception.date | date: 'dd.MM.yyyy' }}</td>
                <td>{{ reception.visitor }}</td>
                <td>
          <span [pTooltip]="reception.description || ''" tooltipPosition="top">
            {{ reception.description ? (reception.description.length > 50 ? reception.description.substring(0, 50) + '...' : reception.description) : '-' }}
          </span>
                </td>
                <td>
                    <p-tag
                        [value]="getStatusLabel(reception.status)"
                        [severity]="getStatusSeverity(reception.status)"
                    />
                </td>
                <td>
                    <div class="flex gap-2">
                        <p-button
                            icon="pi pi-check"
                            (onClick)="approveReception(reception)"
                            severity="success"
                            [text]="true"
                            [rounded]="true"
                            [pTooltip]="'PLANNING.RECEPTION.APPROVE' | translate"
                            [disabled]="reception.status === 'true'"
                        />
                        <p-button
                            icon="pi pi-times"
                            (onClick)="rejectReception(reception)"
                            severity="danger"
                            [text]="true"
                            [rounded]="true"
                            [pTooltip]="'PLANNING.RECEPTION.REJECT' | translate"
                            [disabled]="reception.status === 'false'"
                        />
                        <p-button
                            icon="pi pi-pencil"
                            (onClick)="editReception(reception)"
                            severity="info"
                            [text]="true"
                            [rounded]="true"
                            [pTooltip]="'PLANNING.COMMON.EDIT' | translate"
                        />
                        <p-button
                            icon="pi pi-trash"
                            (onClick)="deleteReception(reception)"
                            severity="secondary"
                            [text]="true"
                            [rounded]="true"
                            [pTooltip]="'PLANNING.COMMON.DELETE' | translate"
                        />
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="7" class="text-center">{{ 'PLANNING.COMMON.NO_DATA' | translate }}</td>
            </tr>
        </ng-template>

        <ng-template #loadingbody>
            <tr>
                <td colspan="7" class="text-center">{{ 'PLANNING.COMMON.LOADING' | translate }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- Create/Edit Dialog -->
<app-dialog
    [(visible)]="dialogVisible"
    [header]="selectedReception ? ('PLANNING.RECEPTION.EDIT' | translate) : ('PLANNING.RECEPTION.NEW' | translate)"
    [form]="receptionForm"
    (save)="saveReception()"
    (cancel)="hideDialog()"
>
    <form class="p-4" [formGroup]="receptionForm" (ngSubmit)="saveReception()">

        <app-input-text
            [label]="'PLANNING.COMMON.NAME' | translate"
            formControlName="name"
            [submitted]="submitted"
            [errorMessage]="'PLANNING.RECEPTION.SPECIFY_NAME' | translate"
        />

        <app-date-picker
            [label]="'PLANNING.COMMON.DATE' | translate"
            formControlName="date"
            [submitted]="submitted"
            [errorMessage]="'PLANNING.RECEPTION.SPECIFY_DATE' | translate"
        />

        <app-input-text
            [label]="'PLANNING.RECEPTION.VISITOR' | translate"
            formControlName="visitor"
            [submitted]="submitted"
            [errorMessage]="'PLANNING.RECEPTION.VISITOR_REQUIRED' | translate"
        />

        <app-textarea
            [label]="'PLANNING.COMMON.DESCRIPTION' | translate"
            formControlName="description"
            [submitted]="submitted"
            [required]="false"
        />

    </form>
</app-dialog>
