:host {
    display: block;
}

::ng-deep {
    .p-dialog {
        .p-dialog-content {
            background: var(--surface-overlay) !important;
            color: var(--text-color) !important;
        }
        .p-dialog-header {
            background: var(--surface-overlay) !important;
            color: var(--text-color) !important;
        }
        .p-dialog-footer {
            background: var(--surface-overlay) !important;
        }
    }
}
