<div class="dash-tile accent-blue cursor-pointer" (click)="openDialog()">
    <div class="tile-header">
        <span class="tile-label label-blue">
            <i class="pi pi-users"></i>
            {{ 'DASHBOARD.HRM' | translate }}
        </span>
    </div>
    <span class="tile-number">{{ totalEmployees | number: '1.0-0' }}</span>
    <div class="tile-sub">
        <span class="tile-sub-label">{{ 'DASHBOARD.EMPLOYEES' | translate }}</span>
        <span class="tile-diff diff-up">28</span>
        <span class="tile-sub-label">{{ 'DASHBOARD.VACANT_POSITIONS' | translate }}</span>
    </div>
</div>

<app-dialog
    [header]="'DASHBOARD.ORGANIZATIONS' | translate"
    [(visible)]="showDialog"
    [width]="'70vw'"
    [showFooter]="false">
    <p-table [value]="organizations" dataKey="name">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 70%">{{ 'DASHBOARD.ORG_NAME' | translate }}</th>
                <th class="text-right" style="width: 30%">{{ 'DASHBOARD.EMPLOYEE_COUNT' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-org>
            <tr>
                <td>{{ org.name }}</td>
                <td class="text-right font-semibold">{{ org.value | number: '1.0-0' }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td class="font-semibold">{{ 'COMMON.TOTAL' | translate }}:</td>
                <td class="text-right font-semibold text-primary">{{ totalEmployees | number: '1.0-0' }}</td>
            </tr>
        </ng-template>
    </p-table>
</app-dialog>
