<div class="dash-tile accent-red cursor-pointer" (click)="openDialog()">
    <div class="tile-header">
        <span class="tile-label label-red">
            <i class="pi pi-credit-card"></i>
            {{ 'DASHBOARD.CREDIT' | translate }}
        </span>
        <button class="dash-currency-btn" (click)="toggleCurrency(); $event.stopPropagation()">
            <i class="pi pi-dollar"></i>
        </button>
    </div>
    <span class="tile-number">{{ displayValue | number: '1.0-0' }} {{ showInUSD ? '$' : 'UZS' }}</span>
    <div class="tile-sub">
        <span class="tile-diff" [class.diff-up]="(dc?.credit?.diff ?? 0) > 0" [class.diff-down]="(dc?.credit?.diff ?? 0) < 0" [class.diff-flat]="(dc?.credit?.diff ?? 0) === 0">
            {{ dc?.credit?.diff && dc?.credit?.diff! > 0 ? '+' : '' }}{{ dc?.credit?.diff ?? 0 | number: '1.0-0' }}%
        </span>
        <span class="tile-sub-label">{{ 'COMMON.SINCE_YEAR_START' | translate }}</span>
    </div>
</div>

<app-dialog
    [header]="('DASHBOARD.CREDIT_FOR' | translate) + ' ' + (dc?.currentDate | date:'dd.MM.yyyy')"
    [(visible)]="showDialog"
    [width]="'70vw'"
    [showFooter]="false"
    [showConvertButton]="true"
    [convertLabel]="convertButtonLabel"
    (convert)="toggleDialogCurrency()">
    <p-table [value]="dc?.items || []" dataKey="name" rowGroupMode="subheader" groupRowsBy="name">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th style="width: 40%">{{ 'COMMON.NAME' | translate }}</th>
                <th class="text-right" style="width: 20%">{{ 'COMMON.YEAR_START' | translate }}</th>
                <th class="text-right" style="width: 20%">{{ 'COMMON.CURRENT_VALUE' | translate }}</th>
                <th class="text-right" style="width: 20%">{{ 'COMMON.CHANGE' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-item let-expanded="expanded">
            <tr>
                <td>
                    @if (item.items && item.items.length > 0) {
                        <button type="button" pButton pRipple [pRowToggler]="item"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    }
                </td>
                <td>{{ item.name }}</td>
                <td class="text-right">{{ convertValue(item.credit.yearStartValue) | number: '1.0-1' }}
                    {{ 'COMMON.MILLION' | translate }} {{ dialogShowInUSD ? '$' : 'UZS' }}
                </td>
                <td class="text-right font-semibold">{{ convertValue(item.credit.currentValue) | number: '1.0-1' }}
                    {{ 'COMMON.MILLION' | translate }} {{ dialogShowInUSD ? '$' : 'UZS' }}
                </td>
                <td class="text-right">
                    <span
                        [class]="item.credit.diff > 0 ? 'text-green-500' : item.credit.diff < 0 ? 'text-red-500' : ''">
                        {{ item.credit.diff > 0 ? '+' : '' }}{{ item.credit.diff | number: '1.0-0' }}%
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="expandedrow" let-item>
            <tr>
                <td colspan="5">
                    <div class="">
                        <p-table [value]="item.items || []" dataKey="name">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem"></th>
                                    <th style="width: 40%">{{ 'COMMON.SUBCATEGORY' | translate }}</th>
                                    <th class="text-right" style="width: 20%">{{ 'COMMON.YEAR_START' | translate }}</th>
                                    <th class="text-right" style="width: 20%">{{ 'COMMON.CURRENT_VALUE' | translate }}</th>
                                    <th class="text-right" style="width: 20%">{{ 'COMMON.CHANGE' | translate }}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-subItem>
                                <tr>
                                    <td></td>
                                    <td>{{ subItem.name }}</td>
                                    <td class="text-right">{{ convertValue(subItem.credit.yearStartValue) | number: '1.0-1' }}
                                        {{ 'COMMON.MILLION' | translate }} {{ dialogShowInUSD ? '$' : 'UZS' }}
                                    </td>
                                    <td class="text-right font-semibold">{{ convertValue(subItem.credit.currentValue) | number: '1.0-1' }}
                                        {{ 'COMMON.MILLION' | translate }} {{ dialogShowInUSD ? '$' : 'UZS' }}
                                    </td>
                                    <td class="text-right">
                                        <span
                                            [class]="subItem.credit.diff > 0 ? 'text-green-500' : subItem.credit.diff < 0 ? 'text-red-500' : ''">
                                            {{ subItem.credit.diff > 0 ? '+' : '' }}{{ subItem.credit.diff | number: '1.0-0' }}
                                            %
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</app-dialog>
