<p-table
    class="mb-6"
    [value]="devices"
    dataKey="id"
    stripedRows
    [tableStyle]="{ 'min-width': '80rem' }"
    [loading]="loading"
    [scrollable]="true"
    scrollHeight="60rem"
>
    <ng-template #caption>
        <div class="text-lg font-bold">{{ 'SITUATION_CENTER.RESERVOIR_DEVICE.TITLE' | translate }}</div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>{{ 'SITUATION_CENTER.RESERVOIR_DEVICE.RESERVOIR' | translate }}</th>
            <th>{{ 'SITUATION_CENTER.RESERVOIR_DEVICE.TOTAL' | translate }}</th>
            <th>{{ 'SITUATION_CENTER.RESERVOIR_DEVICE.ACTIVE' | translate }}</th>
            <th>{{ 'SITUATION_CENTER.RESERVOIR_DEVICE.AUTOMATED' | translate }}</th>
            <th>{{ 'SITUATION_CENTER.RESERVOIR_DEVICE.INSTALLED' | translate }}</th>
            <th>{{ 'SITUATION_CENTER.RESERVOIR_DEVICE.OPERATIONAL' | translate }}</th>
            <th>{{ 'SITUATION_CENTER.RESERVOIR_DEVICE.FAULTY' | translate }}</th>
            <th>{{ 'SITUATION_CENTER.RESERVOIR_DEVICE.CRITERION_1' | translate }}</th>
            <th>{{ 'SITUATION_CENTER.RESERVOIR_DEVICE.CRITERION_2' | translate }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-device let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="authService.isSc() ? device : null">
            <td>{{ device.organization_name }}</td>
            <!-- count_total -->
            <td [pEditableColumn]="authService.isSc() ? device.count_total : null">
                @if (authService.isSc()) {
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber
                                [(ngModel)]="device.count_total"
                                (onInput)="onCellEdit(device)"
                                [showButtons]="true"
                                [min]="0"
                                mode="decimal"
                                inputStyleClass="w-full"
                            />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ device.count_total }}
                        </ng-template>
                    </p-cellEditor>
                } @else {
                    {{ device.count_total }}
                }
            </td>

            <!-- count_active -->
            <td [pEditableColumn]="authService.isSc() ? device.count_active : null">
                @if (authService.isSc()) {
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber [(ngModel)]="device.count_active" (onInput)="onCellEdit(device)"
                                           [showButtons]="true" [min]="0" mode="decimal" inputStyleClass="w-full" />
                        </ng-template>
                        <ng-template pTemplate="output">{{ device.count_active }}</ng-template>
                    </p-cellEditor>
                } @else {
                    {{ device.count_active }}
                }
            </td>

            <!-- count_automation_scope -->
            <td [pEditableColumn]="authService.isSc() ? device.count_automation_scope : null">
                @if (authService.isSc()) {
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber [(ngModel)]="device.count_automation_scope" (onInput)="onCellEdit(device)"
                                           [showButtons]="true" [min]="0" mode="decimal" inputStyleClass="w-full" />
                        </ng-template>
                        <ng-template pTemplate="output">{{ device.count_automation_scope }}</ng-template>
                    </p-cellEditor>
                } @else {
                    {{ device.count_automation_scope }}
                }
            </td>

            <!-- count_installed -->
            <td [pEditableColumn]="authService.isSc() ? device.count_installed : null">
                @if (authService.isSc()) {
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber
                                [(ngModel)]="device.count_installed"
                                (onInput)="onCellEdit(device)"
                                [showButtons]="true"
                                [min]="0"
                                mode="decimal"
                                inputStyleClass="w-full"
                            />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ device.count_installed }}
                        </ng-template>
                    </p-cellEditor>
                } @else {
                    {{ device.count_installed }}
                }
            </td>

            <!-- count_operational -->
            <td [pEditableColumn]="authService.isSc() ? device.count_operational : null">
                @if (authService.isSc()) {
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber [(ngModel)]="device.count_operational" (onInput)="onCellEdit(device)"
                                           [showButtons]="true" [min]="0" mode="decimal" inputStyleClass="w-full" />
                        </ng-template>
                        <ng-template pTemplate="output">{{ device.count_operational }}</ng-template>
                    </p-cellEditor>
                } @else {
                    {{ device.count_operational }}
                }
            </td>

            <!-- count_faulty -->
            <td [pEditableColumn]="authService.isSc() ? device.count_faulty : null">
                @if (authService.isSc()) {
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber [(ngModel)]="device.count_faulty" (onInput)="onCellEdit(device)"
                                           [showButtons]="true" [min]="0" mode="decimal" inputStyleClass="w-full" />
                        </ng-template>
                        <ng-template pTemplate="output">{{ device.count_faulty }}</ng-template>
                    </p-cellEditor>
                } @else {
                    {{ device.count_faulty }}
                }
            </td>

            <!-- criterion_1 -->
            <td [pEditableColumn]="authService.isSc() ? device.criterion_1 : null">
                @if (authService.isSc()) {
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber [(ngModel)]="device.criterion_1" (onInput)="onCellEdit(device)"
                                           [showButtons]="true" [min]="0" mode="decimal" inputStyleClass="w-full" />
                        </ng-template>
                        <ng-template pTemplate="output">{{ device.criterion_1 ?? '-' }}</ng-template>
                    </p-cellEditor>
                } @else {
                    {{ device.criterion_1 ?? '-' }}
                }
            </td>

            <!-- criterion_2 -->
            <td [pEditableColumn]="authService.isSc() ? device.criterion_2 : null">
                @if (authService.isSc()) {
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber [(ngModel)]="device.criterion_2" (onInput)="onCellEdit(device)"
                                           [showButtons]="true" [min]="0" mode="decimal" inputStyleClass="w-full" />
                        </ng-template>
                        <ng-template pTemplate="output">{{ device.criterion_2 ?? '-' }}</ng-template>
                    </p-cellEditor>
                } @else {
                    {{ device.criterion_2 ?? '-' }}
                }
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="10" class="text-center">
                {{ 'SITUATION_CENTER.RESERVOIR_DEVICE.NO_DATA' | translate }}
            </td>
        </tr>
    </ng-template>
</p-table>

@if (authService.isSc() && hasChanges) {
    <div class="flex gap-3 mt-6 justify-end">
        <p-button
            [label]="'SITUATION_CENTER.COMMON.RESET' | translate"
            icon="pi pi-times"
            severity="secondary"
            (click)="resetChanges()"
            [disabled]="saving"
        />
        <p-button
            [label]="'SITUATION_CENTER.COMMON.SAVE' | translate"
            icon="pi pi-check"
            (click)="saveChanges()"
            [loading]="saving"
        />
    </div>
}
