<div class="card">
    <div class="flex justify-between items-center mb-4">
        <h5 class="font-semibold text-xl m-0">Планирование событий</h5>
        <p-button label="Добавить событие" icon="pi pi-plus" (click)="showAddDialog()"></p-button>
    </div>

    <p-table [value]="events()" [paginator]="true" [rows]="10" sortField="date" [sortOrder]="-1">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 5rem"></th>
                <th>Название</th>
                <th>Тип</th>
                <th>Дата и время</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-event>
            <tr>
                <td><i class="pi text-xl" [ngClass]="getIconClass(event.type)"></i></td>
                <td>{{ event.title }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.date | date: 'HH:mm dd.MM.yyyy' }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Добавить новое событие" [(visible)]="displayAddDialog" [modal]="true" [style]="{width: '450px'}" [draggable]="false" [resizable]="false">
    <div class="flex flex-col gap-4 p-4">
        <div class="flex flex-col gap-2">
            <label for="type">Тип события</label>
<!--            <p-dropdown id="type" [options]="eventTypes" [(ngModel)]="newEvent.type"></p-dropdown>-->
        </div>
        <div class="flex flex-col gap-2">
            <label for="title">Название</label>
            <input pInputText id="title" [(ngModel)]="newEvent.title" required autofocus />
        </div>
        <div class="flex flex-col gap-2">
            <label for="date">Дата и время</label>
            <p-date-picker id="date" [(ngModel)]="newEvent.date" [showTime]="true" hourFormat="24" dateFormat="yy-mm-dd" [showIcon]="true" [appendTo]="'body'" fluid></p-date-picker>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button label="Отмена" icon="pi pi-times" styleClass="p-button-text" (click)="displayAddDialog=false"></p-button>
        <p-button label="Сохранить" icon="pi pi-check" (click)="saveNewEvent()"></p-button>
    </ng-template>
</p-dialog>
