<div class="card">
    <div class="font-semibold text-xl mb-4">Файлы</div>
    <p-table
        #ct
        [value]="files"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        [showGridlines]="true"
        [paginator]="true"
        [globalFilterFields]="['name']"
    >
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <p-iconfield>
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(ct, $event)" placeholder="Поиск" />
                </p-iconfield>
<!--                <div class="flex flex-wrap gap-2">-->
<!--                    <p-button-group>-->
<!--                        <p-button label="Save" icon="pi pi-check" />-->
<!--                        <p-button label="Delete" icon="pi pi-trash" />-->
<!--                        <p-button label="Cancel" icon="pi pi-times" />-->
<!--                    </p-button-group>-->
<!--                </div>-->
                <button pButton (click)="openDialog()">
                    <i class="pi pi-upload" pButtonIcon></i>
                    <span pButtonLabel>Добавить файлы</span>
                </button>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Имя
                        <p-columnFilter type="text" field="name" display="menu"
                                        placeholder="Search by name"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Категория
                    </div>
                </th>
                <th>
                        Действия
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-f>
            <tr>
                <td>
                    {{ f.file_name }}
                </td>
                <td>
                    {{ f.category_name }}
                </td>
                <td>
                    <button pButton (click)="deleteFile(f.id)" severity="danger">
                        <i class="pi pi-trash" pButtonIcon></i>
                        <span pButtonLabel>Удалить</span>
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">Ничего не найдено</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="8">Идет загрузка. Ожидайте...</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Добавление Файлов" [(visible)]="displayDialog" [breakpoints]="{ '960px': '75vw' }"
          [style]="{ width: '30vw' }" [modal]="true" (onHide)="closeDialog()">
    <form [formGroup]="uploadForm" class="flex flex-col gap-4">
        <div class="flex flex-col gap-2 p-fluid">
            <label for="category">Категория</label>
            <p-select id="category" [options]="categories" formControlName="category_id" filter optionLabel="display_name"
                      placeholder="Выберите категорию" [appendTo]="'body'"></p-select>
        </div>

        <div class="flex flex-col gap-2 p-fluid">
            <app-date-picker
                label="Выберите дату"
                formControlName="date"
                [showTime]="false"
                errorMessage="Укажите дату">
            </app-date-picker>
        </div>

        <p-fileupload #uploader name="files[]" [multiple]="true" accept=".pdf" mode="advanced" [customUpload]="true" (uploadHandler)="handleFileUpload($event, uploader)"
                      chooseLabel="Выберите файлы" uploadLabel="Загрузить" cancelLabel="Отмена">
            <ng-template pTemplate="empty">
                <div class="flex items-center justify-center flex-col">
                    <i class="pi pi-cloud-upload border-circle p-5 text-8xl text-400"></i>
                    <p class="mt-4 mb-0">Перетащите файлы сюда для загрузки.</p>
                </div>
            </ng-template>
        </p-fileupload>
    </form>

    <ng-template pTemplate="footer">
        <p-button label="Отмена" (click)="closeDialog()" styleClass="p-button-text" />
    </ng-template>
</p-dialog>
