:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);

    --preloader-bg: var(--p-surface-900);
    --mark-bg: rgba(250, 204, 21, 0.2);
    --blockquote-border: var(--p-surface-500);

    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-color-md: rgba(0, 0, 0, 0.2);
    --shadow-color-lg: rgba(0, 0, 0, 0.3);
}
