<div class="card">
    <h2 class="text-xl font-semibold mb-4">
        {{ 'SITUATION_CENTER.RESERVOIR_DUTY.TITLE' | translate }}
    </h2>

    <div class="mb-4 max-w-xs">
        <app-date-picker
            [label]="'SITUATION_CENTER.COMMON.DATE' | translate"
            [showTime]="false"
            [maxDate]="maxDate"
            [required]="false"
            [ngModel]="selectedDate"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="onDateChange($event)">
        </app-date-picker>
    </div>

    @if (hasNoOrganization) {
        <div class="p-6 text-center text-color-secondary">
            {{ 'SITUATION_CENTER.RESERVOIR_DUTY.NO_ORGANIZATION' | translate }}
        </div>
    } @else {
        <div class="flex flex-col gap-4">
            @for (card of cards; track card.organization_id) {
                <p-card>
                    <form [formGroup]="card.form"
                          class="flex flex-col lg:flex-row lg:items-end gap-4">
                        <h3 class="text-lg font-semibold m-0 lg:w-48 lg:shrink-0 lg:self-center">
                            {{ card.organization_name }}
                        </h3>

                        <div class="grid grid-cols-2 lg:flex lg:flex-1 lg:items-end gap-4">
                            <app-input-number
                                class="lg:flex-1"
                                [label]="'SITUATION_CENTER.RESERVOIR_DUTY.LEVEL' | translate"
                                [showButtons]="false"
                                formControlName="level"
                                (valueChange)="onLevelChange(card)">
                            </app-input-number>
                            <app-input-number
                                class="lg:flex-1"
                                [label]="'SITUATION_CENTER.RESERVOIR_DUTY.VOLUME' | translate"
                                [showButtons]="false"
                                formControlName="volume">
                            </app-input-number>
                            <app-input-number
                                class="lg:flex-1"
                                [label]="'SITUATION_CENTER.RESERVOIR_DUTY.INCOME' | translate"
                                [showButtons]="false"
                                formControlName="income">
                            </app-input-number>
                            <app-input-number
                                class="lg:flex-1"
                                [label]="'SITUATION_CENTER.RESERVOIR_DUTY.RELEASE' | translate"
                                [showButtons]="false"
                                formControlName="release">
                            </app-input-number>
                            <app-input-number
                                class="lg:flex-1"
                                [label]="'SITUATION_CENTER.RESERVOIR_DUTY.MODSNOW' | translate"
                                [showButtons]="false"
                                formControlName="modsnow_current">
                            </app-input-number>

                            <p-button
                                class="col-span-2 lg:col-auto"
                                [label]="'COMMON.SAVE' | translate"
                                icon="pi pi-save"
                                [loading]="card.saving"
                                styleClass="w-full lg:w-auto"
                                (onClick)="saveCard(card)">
                            </p-button>
                        </div>
                    </form>
                </p-card>
            }
        </div>
    }
</div>
