<div class="card">
    <div class="flex align-items-center justify-content-between mb-3">
<!--        <div class="text-900 font-medium">Погода</div>-->
    </div>
    <div class="text-center">
        <div *ngIf="loading" class="text-gray-500">Загрузка погоды...</div>
        <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>

        <div *ngIf="weather && !loading">
            <div class="text-900 font-medium text-xl mb-2">{{ weather.city }}</div>
            <i [class]="weather.iconClass" style="font-size: 3rem;"></i>
            <div class="text-900 font-bold text-5xl my-3">{{ weather.temperature }}°C</div>
            <div class="text-900 font-medium mb-3">{{ weather.description }}</div>

            <div class="grid grid-cols-2 gap-2 text-sm">
                <div class="col-span-1 flex align-items-center justify-content-center">
                    <i class="pi pi-tint mr-2"></i>
                    <span>Влажность: {{ weather.humidity }}%</span>
                </div>
                <div class="col-span-1 flex align-items-center justify-content-center">
                    <i class="pi pi-wind mr-2"></i>
                    <span>Ветер: {{ weather.wind }} м/с</span>
                </div>
            </div>
        </div>
    </div>
</div>
