<p-dialog header="Подтверждение удаления"
          [(visible)]="visible"
          (onHide)="closeDialog()"
          [style]="{ width: '350px' }"
          [modal]="true">

    <div class="flex items-center justify-center">
        <i class="pi pi-exclamation-triangle mr-4 text-red-500" style="font-size: 2rem"></i>
        <span>{{ message }}</span>
    </div>

    <ng-template #footer>
        <p-button label="Нет"
                  icon="pi pi-times"
                  (click)="closeDialog()"
                  text
                  severity="secondary" />
        <p-button label="Да, удалить"
                  icon="pi pi-check"
                  (click)="confirm()"
                  severity="danger"
                  outlined
                  autofocus />
    </ng-template>
</p-dialog>
