<div class="card">
    <h3 class="text-center mb-3">Сводка по водохранилищам</h3>

    <form [formGroup]="form" class="mb-4">
        <div class="w-full md:w-1/4">
            <app-date-picker
                label="Выберите дату"
                formControlName="date"
                [showTime]="false"
                [submitted]="submitted"
                errorMessage="Укажите дату">
            </app-date-picker>
        </div>
    </form>

    @if (data) {
        <p-table
            [value]="[data]"
            [scrollable]="true"
            showGridlines
            scrollHeight="40vh"
            [tableStyle]="{ 'min-width': '1200px' }">

            <ng-template pTemplate="header">
                <tr>
                    <th rowspan="3">Водохранилище</th>
                    <th>Уровень, м</th>
                    <th colspan="3">Объем, млн. м³</th>
                    <th colspan="3">Приток, м³/с</th>
                    <th colspan="3">Попуск, м³/с</th>
                    <th colspan="2" rowspan="2">Приток до сегодняшнего дня, млн. м³</th>
                    <th colspan="2" rowspan="2">MODSNOW, снежный покров %</th>
                </tr>
                <tr>
                    <th rowspan="2" class="text-nowrap">{{ form.get('date')?.value | date: 'dd MMM' : '' : 'ru' }}</th>
                    <th rowspan="2" class="text-nowrap">{{ form.get('date')?.value | date: 'dd MMM' : '' : 'ru' }}</th>
                    <th colspan="2">Прошлые года</th>
                    <th rowspan="2" class="text-nowrap">{{ form.get('date')?.value | date: 'dd MMM' : '' : 'ru' }}</th>
                    <th colspan="2">Прошлые года</th>
                    <th rowspan="2" class="text-nowrap">{{ form.get('date')?.value | date: 'dd MMM' : '' : 'ru' }}</th>
                    <th colspan="2">Прошлые года</th>
                </tr>
                <tr>
                    <th>{{ getPreviousYear(1) }}</th>
                    <th>{{ getPreviousYear(2) }}</th>
                    <th>{{ getPreviousYear(1) }}</th>
                    <th>{{ getPreviousYear(2) }}</th>
                    <th>{{ getPreviousYear(1) }}</th>
                    <th>{{ getPreviousYear(2) }}</th>
                    <th>{{ form.get('date')?.value | date: 'yyyy' }}</th>
                    <th>{{ getPreviousYear(1) }}</th>
                    <th>{{ form.get('date')?.value | date: 'yyyy' }}</th>
                    <th>{{ getPreviousYear(1) }}</th>
                </tr>
            </ng-template>
        </p-table>
    }
</div>
