<div class="mnemonic-container">
    @if (!hasSvg) {
        <div class="text-center py-16 text-surface-500">
            <i class="pi pi-sitemap text-6xl mb-4 block opacity-30"></i>
            <p>{{ 'GES_DETAIL.MNEMONIC.NO_SCHEMA' | translate }}</p>
            <p class="text-sm mt-2 opacity-70">{{ 'GES_DETAIL.MNEMONIC.NO_SCHEMA_DESC' | translate }}</p>
        </div>
    } @else if (svgLoading) {
        <div class="flex items-center justify-center py-16">
            <p-progressSpinner></p-progressSpinner>
        </div>
    } @else if (svgError) {
        <div class="text-center py-16 text-red-500">
            <i class="pi pi-exclamation-triangle text-6xl mb-4 block opacity-50"></i>
            <p>{{ 'GES_DETAIL.MNEMONIC.LOAD_ERROR' | translate }}</p>
        </div>
    } @else {
        <div class="svg-wrapper" #svgContainer [innerHTML]="svgContent"></div>
    }
</div>
