@if (authService.isSc()) {
    <div class="mb-6">
        <p-button label="Добавить аварийное отключение" icon="pi pi-plus" (click)="openNew()" />
    </div>
}

<div class="table-section ges-section">
<p-table
    [value]="shutdowns.ges"
    dataKey="id"
    stripedRows
    [loading]="loading"
    [scrollable]="true"
    scrollHeight="60rem"
    [tableStyle]="{ 'min-width': '60rem' }"
    [sortField]="'incident_date'"
    [sortOrder]="-1"
>
    <ng-template #caption>
        <div class="text-lg font-bold">ГЭСы - Аварийные отключения</div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="organization_name">
                Название ГЭС
                <p-sortIcon field="organization_name"></p-sortIcon>
            </th>

            <th pSortableColumn="started_at">
                Начало
                <p-sortIcon field="started_at"></p-sortIcon>
            </th>

            <th pSortableColumn="ended_at">
                Конец
                <p-sortIcon field="ended_at"></p-sortIcon>
            </th>

            <th pSortableColumn="reason">
                Причина
                <p-sortIcon field="reason"></p-sortIcon>
            </th>

            <th pSortableColumn="generation_loss">
                Потеряно мощности, к.Вт*ч
                <p-sortIcon field="generation_loss"></p-sortIcon>
            </th>
            <th pSortableColumn="idle_discharge_voleme">
                Холостой сброс, тыс. м³
                <p-sortIcon field="idle_discharge_voleme"></p-sortIcon>
            </th>

            <th pSortableColumn="created_by.name">
                Создал
                <p-sortIcon field="created_by.name"></p-sortIcon>
            </th>

            <th style="width: 10%">
                Файлы
            </th>

            @if (authService.isSc()) {
                <th style="width: 10%">Действия</th>
            }
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-shutdown>
        <tr>
            <td>
                {{ shutdown.organization_name }}
            </td>
            <td>
                {{ shutdown.started_at | date: 'HH:mm dd.MM.yyyy' }}
            </td>
            <td>
                {{ shutdown.ended_at | date: 'HH:mm dd.MM.yyyy' }}
            </td>
            <td>
                {{ shutdown.reason }}
            </td>
            <td>
                {{ shutdown.generation_loss }}
            </td>
            <td>
                {{ shutdown.idle_discharge_volume | number: '1.0-2' }}
            </td>
            <td>
                {{ shutdown.created_by?.name }}
            </td>
            <td>
                @if (shutdown.files && shutdown.files.length > 0) {
                    <p-button
                        [label]="shutdown.files.length.toString()"
                        icon="pi pi-paperclip"
                        severity="secondary"
                        [text]="true"
                        (click)="showFiles(shutdown)"
                        pTooltip="Просмотр файлов"
                    />
                } @else {
                    <span class="text-color-secondary">—</span>
                }
            </td>
            @if (authService.isSc()) {
                <td>
                    <p-button
                        icon="pi pi-pencil"
                        severity="info"
                        [text]="true"
                        [rounded]="true"
                        (click)="editShutdown(shutdown)"
                        pTooltip="Редактировать"
                    />
                    <p-button
                        icon="pi pi-trash"
                        severity="danger"
                        [text]="true"
                        [rounded]="true"
                        (click)="deleteShutdown(shutdown.id)"
                        pTooltip="Удалить"
                    />
                </td>
            }
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="authService.isSc() ? 9 : 8" class="text-center">
                Аварийные отключения за выбранную дату не найдены.
            </td>
        </tr>
    </ng-template>

</p-table>
</div>

<div class="table-section micro-section">
<p-table
    [value]="shutdowns.micro"
    dataKey="id"
    stripedRows
    [loading]="loading"
    [scrollable]="true"
    scrollHeight="60rem"
    [tableStyle]="{ 'min-width': '60rem' }"
    [sortField]="'incident_date'"
    [sortOrder]="-1"
>
    <ng-template #caption>
        <div class="text-lg font-bold">Микро ГЭСы - Аварийные отключения</div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="organization_name">
                Название ГЭС
                <p-sortIcon field="organization_name"></p-sortIcon>
            </th>

            <th pSortableColumn="started_at">
                Начало
                <p-sortIcon field="started_at"></p-sortIcon>
            </th>

            <th pSortableColumn="ended_at">
                Конец
                <p-sortIcon field="ended_at"></p-sortIcon>
            </th>

            <th pSortableColumn="reason">
                Причина
                <p-sortIcon field="reason"></p-sortIcon>
            </th>

            <th pSortableColumn="generation_loss">
                Потеряно мощности, к.Вт*ч
                <p-sortIcon field="generation_loss"></p-sortIcon>
            </th>
            <th pSortableColumn="idle_discharge_voleme">
                Холостой сброс, тыс. м³
                <p-sortIcon field="idle_discharge_voleme"></p-sortIcon>
            </th>

            <th pSortableColumn="created_by.name">
                Создал
                <p-sortIcon field="created_by.name"></p-sortIcon>
            </th>

            <th style="width: 10%">
                Файлы
            </th>

            @if (authService.isSc()) {
                <th style="width: 10%">Действия</th>
            }
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-shutdown>
        <tr>
            <td>
                {{ shutdown.organization_name }}
            </td>
            <td>
                {{ shutdown.started_at | date: 'HH:mm dd.MM.yyyy' }}
            </td>
            <td>
                {{ shutdown.ended_at | date: 'HH:mm dd.MM.yyyy' }}
            </td>
            <td>
                {{ shutdown.reason }}
            </td>
            <td>
                {{ shutdown.generation_loss }}
            </td>
            <td>
                {{ shutdown.idle_discharge_volume | number: '1.0-2' }}
            </td>
            <td>
                {{ shutdown.created_by?.name }}
            </td>
            <td>
                @if (shutdown.files && shutdown.files.length > 0) {
                    <p-button
                        [label]="shutdown.files.length.toString()"
                        icon="pi pi-paperclip"
                        severity="secondary"
                        [text]="true"
                        (click)="showFiles(shutdown)"
                        pTooltip="Просмотр файлов"
                    />
                } @else {
                    <span class="text-color-secondary">—</span>
                }
            </td>
            @if (authService.isSc()) {
                <td>
                    <p-button
                        icon="pi pi-pencil"
                        severity="info"
                        [text]="true"
                        [rounded]="true"
                        (click)="editShutdown(shutdown)"
                        pTooltip="Редактировать"
                    />
                    <p-button
                        icon="pi pi-trash"
                        severity="danger"
                        [text]="true"
                        [rounded]="true"
                        (click)="deleteShutdown(shutdown.id)"
                        pTooltip="Удалить"
                    />
                </td>
            }
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="authService.isSc() ? 9 : 8" class="text-center">
                Аварийные отключения за выбранную дату не найдены.
            </td>
        </tr>
    </ng-template>

</p-table>
</div>

<div class="table-section mini-section">
<p-table
    [value]="shutdowns.mini"
    dataKey="id"
    stripedRows
    [loading]="loading"
    [scrollable]="true"
    scrollHeight="60rem"
    [tableStyle]="{ 'min-width': '60rem' }"
    [sortField]="'incident_date'"
    [sortOrder]="-1"
>
    <ng-template #caption>
        <div class="text-lg font-bold">Мини ГЭСы - Аварийные отключения</div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="organization_name">
                Название ГЭС
                <p-sortIcon field="organization_name"></p-sortIcon>
            </th>

            <th pSortableColumn="started_at">
                Начало
                <p-sortIcon field="started_at"></p-sortIcon>
            </th>

            <th pSortableColumn="ended_at">
                Конец
                <p-sortIcon field="ended_at"></p-sortIcon>
            </th>

            <th pSortableColumn="reason">
                Причина
                <p-sortIcon field="reason"></p-sortIcon>
            </th>

            <th pSortableColumn="generation_loss">
                Потеряно мощности, к.Вт*ч
                <p-sortIcon field="generation_loss"></p-sortIcon>
            </th>
            <th pSortableColumn="idle_discharge_voleme">
                Холостой сброс, тыс. м³
                <p-sortIcon field="idle_discharge_voleme"></p-sortIcon>
            </th>

            <th pSortableColumn="created_by.name">
                Создал
                <p-sortIcon field="created_by.name"></p-sortIcon>
            </th>

            <th style="width: 10%">
                Файлы
            </th>

            @if (authService.isSc()) {
                <th style="width: 10%">Действия</th>
            }
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-shutdown>
        <tr>
            <td>
                {{ shutdown.organization_name }}
            </td>
            <td>
                {{ shutdown.started_at | date: 'HH:mm dd.MM.yyyy' }}
            </td>
            <td>
                {{ shutdown.ended_at | date: 'HH:mm dd.MM.yyyy' }}
            </td>
            <td>
                {{ shutdown.reason }}
            </td>
            <td>
                {{ shutdown.generation_loss }}
            </td>
            <td>
                {{ shutdown.idle_discharge_volume | number: '1.0-2' }}
            </td>
            <td>
                {{ shutdown.created_by?.name }}
            </td>
            <td>
                @if (shutdown.files && shutdown.files.length > 0) {
                    <p-button
                        [label]="shutdown.files.length.toString()"
                        icon="pi pi-paperclip"
                        severity="secondary"
                        [text]="true"
                        (click)="showFiles(shutdown)"
                        pTooltip="Просмотр файлов"
                    />
                } @else {
                    <span class="text-color-secondary">—</span>
                }
            </td>
            @if (authService.isSc()) {
                <td>
                    <p-button
                        icon="pi pi-pencil"
                        severity="info"
                        [text]="true"
                        [rounded]="true"
                        (click)="editShutdown(shutdown)"
                        pTooltip="Редактировать"
                    />
                    <p-button
                        icon="pi pi-trash"
                        severity="danger"
                        [text]="true"
                        [rounded]="true"
                        (click)="deleteShutdown(shutdown.id)"
                        pTooltip="Удалить"
                    />
                </td>
            }
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="authService.isSc() ? 9 : 8" class="text-center">
                Аварийные отключения за выбранную дату не найдены.
            </td>
        </tr>
    </ng-template>

</p-table>
</div>

<app-dialog
    [(visible)]="isFormOpen"
    [header]="isEditMode ? 'Редактировать Событие' : 'Новое Событие'"
    [form]="form"
    [submitting]="isLoading"
    (save)="onSubmit()"
    (cancel)="closeDialog()"
>
    <form class="p-4" [formGroup]="form" (ngSubmit)="onSubmit()">

        <app-group-select

            label="Объект"
            formControlName="organization"
            [items]="organizations"
            [loading]="orgsLoading"
            [submitted]="submitted"
            errorMessage="Выберите организацию">
        </app-group-select>

        <app-date-picker
            label="Начало аварии"
            formControlName="start_time"
            [submitted]="submitted"
            errorMessage="Укажите дату">
        </app-date-picker>

        <app-date-picker
            label="Конец аварии"
            formControlName="end_time"
            [submitted]="submitted"
            [required]="false">
        </app-date-picker>

        <app-textarea
            label="Причина"
            formControlName="reason"
            [submitted]="submitted"
            [required]="false">
        </app-textarea>

        <app-input-number
            label="Потерянная мощность"
            formControlName="generation_loss"
            [submitted]="submitted"
            [required]="false">
        </app-input-number>

        <app-input-number
            label="Холостой сброс, тыс. м³"
            formControlName="idle_discharge_volume"
            [submitted]="submitted"
            [required]="false">
        </app-input-number>

        @if (isEditMode && currentShutdown?.files && (currentShutdown?.files?.length ?? 0) > 0) {
            <app-file-list
                [files]="currentShutdown?.files || []"
                (removeFile)="removeExistingFile($event)">
            </app-file-list>
        }

        <app-file-upload
            [label]="isEditMode ? 'Добавить новые файлы' : 'Прикрепить файлы'"
            [files]="selectedFiles"
            (filesChange)="onFileSelect($event)"
            (removeFile)="removeFile($event)">
        </app-file-upload>

    </form>

</app-dialog>

<app-file-viewer
    [(visible)]="showFilesDialog"
    [header]="'Файлы события'"
    [files]="selectedShutdownForFiles?.files || []">
</app-file-viewer>
