<div class="card">
    <div class="font-semibold text-xl mb-4">{{ 'MAIL.LETTERS.TITLE' | translate }}</div>

    <p-table
        #dt
        [value]="filteredLetters"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        [showGridlines]="true"
        [paginator]="true"
        [globalFilterFields]="['number', 'from', 'to', 'subject', 'content']"
    >
        <ng-template #caption>
            <div class="flex flex-column md:flex-row justify-between items-start md:items-center gap-3">
                <div class="flex flex-wrap gap-2">
                    <p-iconfield>
                        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" [placeholder]="'MAIL.COMMON.SEARCH' | translate" />
                    </p-iconfield>

                    <p-select
                        [(ngModel)]="selectedType"
                        [options]="typeOptions"
                        optionLabel="name"
                        optionValue="value"
                        [placeholder]="'MAIL.COMMON.TYPE' | translate"
                        (onChange)="applyFilters()"
                        [style]="{ minWidth: '150px' }">
                    </p-select>

                    <p-select
                        [(ngModel)]="selectedStatus"
                        [options]="statusOptions"
                        optionLabel="name"
                        optionValue="value"
                        [placeholder]="'MAIL.COMMON.STATUS' | translate"
                        (onChange)="applyFilters()"
                        [style]="{ minWidth: '150px' }">
                    </p-select>
                </div>

                <button pButton (click)="openDialog()">
                    <i class="pi pi-plus" pButtonIcon></i>
                    <span pButtonLabel>{{ 'MAIL.LETTERS.NEW' | translate }}</span>
                </button>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th pSortableColumn="number" style="min-width: 8rem">
                    {{ 'MAIL.COMMON.NUMBER' | translate }}
                    <p-sortIcon field="number" />
                </th>
                <th pSortableColumn="date" style="min-width: 7rem">
                    {{ 'MAIL.COMMON.DATE' | translate }}
                    <p-sortIcon field="date" />
                </th>
                <th pSortableColumn="type" style="min-width: 8rem">
                    {{ 'MAIL.COMMON.TYPE' | translate }}
                    <p-sortIcon field="type" />
                </th>
                <th style="min-width: 10rem">{{ 'MAIL.COMMON.FROM' | translate }}</th>
                <th style="min-width: 10rem">{{ 'MAIL.COMMON.TO' | translate }}</th>
                <th pSortableColumn="subject" style="min-width: 12rem">
                    {{ 'MAIL.COMMON.SUBJECT' | translate }}
                    <p-sortIcon field="subject" />
                </th>
                <th pSortableColumn="status" style="min-width: 8rem">
                    {{ 'MAIL.COMMON.STATUS' | translate }}
                    <p-sortIcon field="status" />
                </th>
                <th style="width: 8rem">{{ 'MAIL.COMMON.ACTIONS' | translate }}</th>
            </tr>
        </ng-template>

        <ng-template #body let-letter>
            <tr>
                <td>
                    <span class="font-semibold">{{ letter.number }}</span>
                </td>
                <td>{{ formatDate(letter.date) }}</td>
                <td>
                    <p-tag
                        [value]="getTypeLabel(letter.type)"
                        [severity]="getTypeSeverity(letter.type)"
                        [icon]="letter.type === 'incoming' ? 'pi pi-arrow-down' : 'pi pi-arrow-up'">
                    </p-tag>
                </td>
                <td>
                    <span class="text-sm" [pTooltip]="letter.from" tooltipPosition="top">
                        {{ letter.from.length > 20 ? letter.from.substring(0, 20) + '...' : letter.from }}
                    </span>
                </td>
                <td>
                    <span class="text-sm" [pTooltip]="letter.to" tooltipPosition="top">
                        {{ letter.to.length > 20 ? letter.to.substring(0, 20) + '...' : letter.to }}
                    </span>
                </td>
                <td>
                    <span [pTooltip]="letter.content || ''" tooltipPosition="top">
                        {{ letter.subject }}
                    </span>
                </td>
                <td>
                    <p-tag
                        [value]="getStatusLabel(letter.status)"
                        [severity]="getStatusSeverity(letter.status)">
                    </p-tag>
                </td>
                <td>
                    <div class="flex justify-center gap-2">
                        <button pButton
                                icon="pi pi-pencil"
                                (click)="openEditDialog(letter)"
                                class="p-button-rounded p-button-text p-button-warning"
                                [pTooltip]="'MAIL.COMMON.EDIT' | translate"
                                tooltipPosition="top">
                        </button>
                        <button pButton
                                icon="pi pi-trash"
                                (click)="openDeleteDialog(letter)"
                                class="p-button-rounded p-button-text p-button-danger"
                                [pTooltip]="'MAIL.COMMON.DELETE' | translate"
                                tooltipPosition="top">
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="8" class="text-center py-4">
                    <i class="pi pi-inbox text-4xl text-color-secondary mb-2"></i>
                    <p class="m-0 text-color-secondary">{{ 'MAIL.LETTERS.NO_DATA' | translate }}</p>
                </td>
            </tr>
        </ng-template>

        <ng-template #loadingbody>
            <tr>
                <td colspan="8" class="text-center py-4">
                    {{ 'MAIL.COMMON.LOADING' | translate }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-dialog
    [(visible)]="displayDialog"
    [header]="isEditMode ? ('MAIL.LETTERS.EDIT' | translate) : ('MAIL.LETTERS.NEW' | translate)"
    [form]="letterForm"
    [saveLabel]="isEditMode ? ('MAIL.COMMON.UPDATE' | translate) : ('MAIL.COMMON.SAVE' | translate)"
    width="45vw"
    (save)="onSubmit()"
    (cancel)="closeDialog()">
    <form class="p-4" [formGroup]="letterForm" (ngSubmit)="onSubmit()">
        <app-input-text
            formControlName="number"
            [label]="'MAIL.LETTERS.NUMBER_LABEL' | translate"
            [submitted]="submitted"
            [errorMessage]="'MAIL.COMMON.NUMBER_REQUIRED' | translate"
            [required]="true">
        </app-input-text>

        <app-date-picker
            formControlName="date"
            [label]="'MAIL.COMMON.DATE' | translate"
            [submitted]="submitted"
            [showTime]="false"
            [errorMessage]="'MAIL.COMMON.DATE_REQUIRED' | translate"
            [required]="true">
        </app-date-picker>

        <app-select
            formControlName="type"
            [label]="'MAIL.LETTERS.TYPE_LABEL' | translate"
            [items]="typeFormOptions"
            [submitted]="submitted"
            [errorMessage]="'MAIL.COMMON.TYPE_REQUIRED' | translate"
            [required]="true">
        </app-select>

        <app-input-text
            formControlName="from"
            [label]="'MAIL.COMMON.FROM' | translate"
            [submitted]="submitted"
            [errorMessage]="'MAIL.COMMON.FIELD_REQUIRED' | translate"
            [required]="true">
        </app-input-text>

        <app-input-text
            formControlName="to"
            [label]="'MAIL.COMMON.TO' | translate"
            [submitted]="submitted"
            [errorMessage]="'MAIL.COMMON.FIELD_REQUIRED' | translate"
            [required]="true">
        </app-input-text>

        <app-input-text
            formControlName="subject"
            [label]="'MAIL.COMMON.SUBJECT' | translate"
            [submitted]="submitted"
            [errorMessage]="'MAIL.COMMON.SUBJECT_REQUIRED' | translate"
            [required]="true">
        </app-input-text>

        <app-textarea
            formControlName="content"
            [label]="'MAIL.COMMON.CONTENT' | translate"
            [submitted]="submitted"
            [required]="false"
            [rows]="3">
        </app-textarea>

        <app-select
            formControlName="status"
            [label]="'MAIL.COMMON.STATUS' | translate"
            [items]="statusFormOptions"
            [submitted]="submitted"
            [errorMessage]="'MAIL.COMMON.STATUS_REQUIRED' | translate"
            [required]="true">
        </app-select>
    </form>
</app-dialog>

<app-delete-confirmation
    [(visible)]="displayDeleteDialog"
    [message]="deleteConfirmMessage"
    (onConfirm)="confirmDelete()">
</app-delete-confirmation>
