<div class="card">
    <app-date (dateChange)="onDateChange($event)"></app-date>

    @if (showTabs) {
        <p-tabs [(value)]="activeIndex" (valueChange)="onTabChange($event)">
            <p-tablist>
                <p-tab [value]="0">Норин</p-tab>
                <p-tab [value]="1">Чаткал</p-tab>
                <p-tab [value]="2">ЮФК</p-tab>
                <p-tab [value]="3">Оксув</p-tab>
            </p-tablist>
        </p-tabs>
    }

    <div id="adobe-dc-view" class="h-full flex flex-1"></div>
</div>
