<div class="card">
    <form [formGroup]="form" class="mb-4">
        <div class="flex justify-between items-baseline gap-4">
            <div class="w-full md:w-1/4">
                <app-date-picker
                    label="Выберите дату"
                    formControlName="date"
                    [showTime]="false"
                    errorMessage="Укажите дату">
                </app-date-picker>
            </div>
        </div>
    </form>

    @if (showTabs) {
        <p-tabs [(value)]="activeIndex" (valueChange)="onTabChange($event)">
            <p-tablist>
                <p-tab [value]="0">Норин</p-tab>
                <p-tab [value]="1">Чаткал</p-tab>
                <p-tab [value]="2">ЮФК</p-tab>
                <p-tab [value]="3">Оксув</p-tab>
            </p-tablist>
        </p-tabs>
    }

    <div id="adobe-dc-view" class="h-full flex flex-1"></div>
</div>
