<div class="sc-header neon-card">
    <div class="header-left">
        @if (weather) {
            <div class="weather-widget">
                <i class="pi {{ weather.iconClass }} weather-icon"></i>
                <span class="weather-temp">{{ weather.temperature }}°C</span>
                <span class="weather-condition">{{ weather.description }}</span>
            </div>
        } @else if (weatherLoading) {
            <div class="weather-widget">
                <i class="pi pi-spin pi-spinner weather-icon"></i>
                <span class="weather-temp">--°C</span>
            </div>
        } @else {
            <div class="weather-widget">
                <i class="pi pi-cloud weather-icon"></i>
                <span class="weather-temp">--°C</span>
            </div>
        }
    </div>

    <div class="header-center">
        <h1 class="header-title">Планшет Председателя правления</h1>
    </div>

    <div class="header-right">
        <span class="time neon-text">{{ currentDate | date:'dd.MM.yyyy HH:mm:ss':'':'ru' }}</span>
    </div>
</div>
