.section-row {
    background: #e6ecff !important;
    font-weight: bold;
}

.table-input {
    width: 90%;
    padding: 4px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p-table td {
    vertical-align: middle;
}
