<div class="card mb-0">
    <div class="flex justify-between items-center mb-2">
        <span class="text-muted-color font-medium">Выработка</span>
        <div class="flex items-center justify-center bg-purple-100 dark:bg-purple-400/10 rounded-border"
             style="width: 2.5rem; height: 2.5rem">
            <i class="pi pi-bolt text-purple-500 text-xl!"></i>
        </div>
    </div>
    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl mb-1">
        11.124 млн КВт/ч
    </div>
    <div class="flex gap-1.5">
        <span class="text-primary font-medium">-4%</span>
        <span class="text-muted-color">за сутки</span>
    </div>
</div>
